:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(233, 166, 166, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

.logo {
  height: 40px;
}

.topnav {
  background-color: #cee1e6;
  overflow: hidden;
  height: 50px;
}

/* Style the links inside the navigation bar */
.topnav a1 {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

/* Change the color of links on hover */
.topnav a1:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a1.active {
  background-color: #04aa6d;
  color: white;
}

.topnav a2 {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  padding-right: 100px;
  cursor: pointer;
}

/* Change the color of links on hover */
.topnav a2:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a2.active {
  background-color: #04aa6d;
  color: white;
}

.mainContainer {
  margin-top: 1px;
  margin-bottom: 0;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("img1.jpg");
  padding-bottom: 0px;
  size: 100% 100%;
  box-sizing: border-box;
}

.symptomcontainer {
  margin-top: 50px;
  padding: 1px;
  padding-left: 37%;
}

.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.select-box .options-container {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}

.selected::after {
  content: "";
  background: url("arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.selected {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;
  order: 0;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

#button-container {
  text-align: center;
}

button {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
}

button:hover {
  background-color: green;
}

h1 {
  color: rgb(218, 3, 46);
  width: 500px;
  margin: 0 auto;
  background: gray;
  text-align: center;
}

.formContainer {
  background: url("./formbg.jpg") no-repeat;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: #fff;
}

.registration-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.registration-from h2 {
  font-size: 150px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
}

.registration-from p {
  font-size: 20px;
  margin: 15px 0;
}

.registration-form input {
  font-size: 16px;
  padding: 15px 10px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  outline: none;
}

.registration-form button {
  color: var(--clr-black);
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 15px;
  width: 50%;
  border: 0;
  border-radius: 5px;
  background-color: #fff;
}

.registration-form button:hover {
  color: red;
}
